<div></div>

<div class="container">

<div class="text-title">
  <h1>Today's articles</h1>
</div>

<div class="box-content">

  <% @articles.each do |article| %>
    <p>
      <%= link_to article.title, article_path(article.id) %>
      </p>
  <% end %>
</div>

</div>
