// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap/scss/bootstrap";

body{
  background-image: -webkit-linear-gradient(65deg, #f05945 50%, #E4E9FD 50%);
  height: 100vh;
  font-family: 'helvetica neue';

}

.box-content{
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fff;
  margin: 20px auto;
}

.text-title{
    background-color: #f05945;
    text-align: center;
    width: 500px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    margin: 20px auto;
}

.box-content a{
  text-decoration: none;
  color: #f05945;
  font-weight: bold;
}
